.about-main-div {
  /* border-style: solid;
  border-width: 1px;
  border-color: green;  */
  height: 100%;
  /* max-width: 1000px; */
}

.image-container {
  /* border-style: solid;
  border-width: 1px;
  border-color: blue; */
  height: 100%;
  padding: 15px;
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.ant-image {
  display: flex;
  justify-content: center;
  width: 200px;
}

.text-container {
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
  height: 100%;
  color: var(--main-font-color);
  line-height: 30px;
  padding: 15px;
  padding-top: 30px;
}

.profile-pic {
  border-radius: 50%;
  /* border-style: solid;
  border-width: 2px;
  border-color: rgba(rgb(212, 37, 37), 1); */
}

.about-text-content-title {
  font-size: 24px;
}

.about-text-content-description {
  margin-top: 20px;
  line-height: 30px;
}

@media only screen and (max-width: 1050px) {
  .image-container {
    padding: 5px;
    padding-top: 30px;
  }

  .image-container > .ant-image {
    width: 170px !important;
    height: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .image-container {
    padding: 5px;
  }
  .image-container > .ant-image {
    width: 120px !important;
    height: 120px;
  }
  .text-container {
    padding: 0;
    margin-top: 10px;
  }
}