.about-main-div {
  /* border-style: solid;
  border-width: 1px;
  border-color: green;  */
  height: 100%;
  padding-top: 40px;
}

.image-container {
  /* border-style: solid;
  border-width: 1px;
  border-color: blue; */
  height: 100%;
  padding: 15px;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}

.text-container {
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */
  height: 100%;
  color: var(--main-font-color);
  line-height: 40px;
  padding: 15px;
  padding-top: 30px;
}

.profile-pic {
  border-radius: 50%;
  /* border-style: solid;
  border-width: 2px;
  border-color: rgba(rgb(212, 37, 37), 1); */
}

.about-text-content-title {
  font-size: 24px;
}