.header-row {
    color: var(--main-font-color);
    border-style: solid;
    border-width: 1px;
    border-color: green;
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
}

.ant-layout-header {
    padding-left: 0px;
    padding-right: 0px;
}

.header-icon-container {
    color: var(--main-font-color);
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    padding-left: 15px;
}

.header-icon, .header-icon-text {
    color: var(--main-font-color);
    font-size: 18px;
}

.header-menu {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    /* min-height: var(--header-and-footer-min-height); */
    justify-content: end;
    border-bottom-width: 0;
    font-size: 15px;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
    color: var(--main-font-color);
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
    border-bottom: 2px solid var(--header-selected-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--header-selected-color);
}

.ant-menu-title-content > a {
    text-decoration: none;
    color: var(--main-font-color) !important;
}


/* @media only screen and (max-width: 900px) {

} */

/* @media only screen and (max-width: 768px) {

} */