div.footer-row {
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */

  max-width: var(--max-content-width);
  margin-left: auto !important;
  margin-right: auto !important;
}

div.footer-row > div.ant-col {
  border-style: solid;
  border-width: 1px;
  border-color: red;

    font-size: var(--global-general-font-size);
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--main-font-color)
}

/* phone and mail icon */
.contact-popover-icon > svg {
  margin-top: 4px;
}