.footer-row > div.ant-col {
    font-size: var(--global-general-font-size);
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--main-font-color)
}

/* .ant-popover-inner-content  {
    background-color: var(--main-bg-color);
    color: var(--main-font-color)
}

.ant-popover .ant-popover-placement-top {
} */