@import '~antd/dist/antd.css';

:root {
  /* theme 1 */
  --main-font-color: rgb(231, 119, 67);
  --secondary-font-color: #fff; 
  --main-font-selected-color: #fff; 
  --main-bg-color: #1e3145; 
  --main-border-color: #474a4f7f;
 

  /* theme 2 */
  /* --main-font-color: rgb(79, 231, 206);
  --secondary-font-color: #fff;
  --main-font-selected-color: rgb(229, 226, 233);
  --main-bg-color: #1e3145;
  --main-border-color: #474a4f7f; */
  
  --main-border-width: 0.1px;
  --max-content-width: 1300px;
  --header-padding-top: 18px;
  --header-and-footer-min-height: 40px;

  --global-general-font-size: 18px;
}

::selection {
  background: rgba(213, 164, 99, 0.174);
  color: var(--main-font-color);
}

a:hover {
  text-decoration: none;
}

.ant-layout {
  min-height: 100vh;
}

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: var(--main-font-color);
  background: var(--main-bg-color);
  min-height: var(--header-and-footer-min-height);
  width: 100%;
}

.ant-layout-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
  border-bottom-style: solid;
  border-bottom-width: var(--main-border-width);
  border-bottom-color: var(--main-border-color);
}

.ant-layout-footer {
  /* line-height: 1.5; */
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  border-top-style: solid;
  border-top-width: var(--main-border-width);
  border-top-color: var(--main-border-color);

}

.ant-layout-content {
  /* min-height: 120px; */
  color: var(--main-font-color);
  background: var(--main-bg-color);
  flex: 1 1 auto;
  height: 100%;

  font-size: var(--global-general-font-size);
}

.main-content-div {
  /* border-style: solid;
  border-width: 1px;
  border-color: red; */

  max-width: var(--max-content-width);
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  
  padding-top: 50px;
  padding-bottom: 50px;
}

@media only screen and (max-height: 900px) {
  .main-content-div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 768px) {

  .main-content-div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 768px) {

  .main-content-div {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
