@import '~antd/dist/antd.css';

:root {
  --main-bg-color: #1e3145;
  --main-border-color: #4d4f52;
  --main-border-width: 0.1px;
}

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: var(--main-bg-color);
  height: 10vh;

}
.ant-layout-header {
  padding-top: 15px;
}
.ant-layout-footer {
  line-height: 1.5;
  border-top-style: solid;
  border-top-width: var(--main-border-width);
  border-top-color: var(--main-border-color);
}

.ant-layout-content, .ant-layout-sider {
  border-top-style: solid;
  border-top-width: var(--main-border-width);
  border-top-color: var(--main-border-color);
}

.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  padding-left: 15px;
  background: var(--main-bg-color);
  border-right-style: solid;
  border-right-width: var(--main-border-width);
  border-right-color: var(--main-border-color);
}
[data-theme="dark"] .ant-layout-sider {
  background: var(--main-bg-color);
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  padding-left: 15px;
  line-height: 120px;
  background: var(--main-bg-color);
  height: 80vh;


}

